<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="mailFrom" value="osae.coursework@yandex.by"/>
    <add key="password" value="Osae-1"/>
    <add key="mailTo" value="germanstashinskii@gmail.com"/>
    <add key="directory" value="C:\MailServiceTests"/>
    <add key="emailLoggingOn" value="true"/>
    <add key="udpLoggingOn" value="true"/>
    <add key="port" value="587"/>
    <add key="smtpHost" value="smtp.yandex.ru"/>
    <add key="userName" value="Herman Stashynski"/>
  </appSettings>
</configuration>